<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.43">
      <project>petclinic</project>
      <filter>**/*.war</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@3.8.20191127-111424.5d61f82">
      <nexusInstanceId>Nexus</nexusInstanceId>
      <nexusRepositoryId>releases</nexusRepositoryId>
      <packages>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.springframework.samples</groupId>
            <artifactId>spring-framework-petclinic</artifactId>
            <version>${BUILD_NUMBER}</version>
            <packaging>war</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>target/petclinic.war</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>petclinic-docker-build</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>